@tailwind base;
@tailwind components;
@tailwind utilities;

.ChatDockX_table-container {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  position: relative;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
table {
  border: 1px solid #ffffff2a;
  border-collapse: collapse;
  overflow-x: auto;
}
td,
tr {
  border: 1px solid #ffffff2a;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-align: center;
}
th {
  background-color: #0000002a;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: bold;
  margin-block: 0.5rem;
}
.markdown h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.markdown h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}
.markdown h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.markdown h4 {
  font-size: 1.125rem;
  line-height: 1.25rem;
}
.markdown h5 {
  font-size: 1rem;
  line-height: 1.25rem;
}
.markdown h6 {
  font-size: 0.875rem;
  line-height: 2.25rem;
}
.markdown p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.markdown a {
  color: #3490dc;
  text-decoration: underline;
}
.markdown hr {
  border-top: 1px solid #ffffff2a;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.markdown ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 1rem;
}
.markdown ol {
  list-style-type: decimal;
  list-style-position: inside;
  padding-left: 1rem;
}
.markdown li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.markdown blockquote {
  border-left-width: 0.25rem;
  border-left-color: #3490dc;
  padding-left: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  background-color: #f7fafc;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
